.MyProjectPage {
  background-color: rgb(37, 34, 34);
  height: 100vh;
}
.MyProject {
  font-size: 50px;
  padding-top: 10vh;
  padding-left: 5vh;
  color: white;
}

@media screen and (min-width: 700px) {
  .ProjectListContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}
