* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/static/Outfit-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
}
